
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/main/logo.png" alt="">
				</div>
				<div class="logo-title">Комбинат натуральных замороженных полуфабрикатов</div>
			</a>
		</div>
		<div class="phone-wrap">
			<div class="phone-number">
				<a href="tel:83532672767" class="link-phone">+7 (3532) 67-27-67</a>
			</div>
			<div class="phone-info">для консультаций</div>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup-open btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li><a href="">История бренда</a></li>
					<li><a href="">Продукция</a></li>
					<li><a href="">Новости</a></li>
					<li><a href="">Вакансии</a></li>
					<li><a href="">Стать партнером</a></li>
					<li><a href="">Где купить</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->